#login-header{
	font:black !important;
	outline: white !important;
	border-color: white !important;
	text-shadow: white;
	font-size: : 22px !important;
	margin-bottom:20px;
	padding-bottom: 10px;

}
#form-div{
	margin:auto;
}
h2{
	padding:10px;
	-webkit-text-stroke: .5px white;
	font:black;
	font-size: 35px;
}
#login-user{
	margin:10px;
	border-color: black;
}
#login-pword{
	margin:10px;
	border-color: black;
}
#login-button{
	margin:5px;
	border-color: black;
	font: black;
	margin-bottom:10px;
}
body{
	background-color: #ff4dd2;
}
a{
	color:white;
	text-shadow: black;
}
#select-font{
	font-size:18px;
	color:black;
	margin-top:3px;
	margin-bottom:-15px;
}


.btn{
	border-color: black;
	color:black;
}

.form-control{
	align-items: center;
	border-color: black;
}
form{
	width:40%;
	align-items: center;
}
#account{
	font-size: 16px !important;
}
select{
	width:40%;
	margin-bottom:10px;
	
}
table{
	width:75% !important;
	position:center;
	text-align:center;
	margin:auto;
	font:black;
}
tbody{
	font:black;
}
tbody tr td{
	height:20px;
}
thead tr{
	height:50px;
	background-color: #ff4dd2;
}
tbody tr:nth-child(2n+1) td{
	background-color:#ff80df;
}	
tbody tr:nth-child(2n) td{
	background-color: #ff4dd2;
}

#table-head{
	text-align:center;
}
#song{
	text-align:center;
	width:100px;
}
#stud{
	text-align:center;
	width:125px;
}
#num{
	text-align:center;
	width:70px;
}
#danc{
	text-align:center;
	width:150px;
}
#schedule-page{
	background-color:#1a0011 !important;
}
#dancer-check, #studio-check{
	color:white !important;
	font-size: 20px;
	margin-top: 20px;
	padding:25px;
	float:left;

}
input[type=checkbox]{
	padding-right:5px;
	width:25px;
	height:15px;
}
#exit-button{
	margin-left:600px;
	background-color:#ff4dd2;
	font:black;
}
nav{
	background-color:#ff4dd2;
	border-color: black;

}
#nycda{
	color:white;
	outline:black !important;
	padding:20px;
}


