#login-header{
	color:#42267f !important;
	outline: black !important;
  border:black;
	border-color: black !important;
	text-shadow: 1px black;
	font-size: : 30px !important;
	margin-bottom:20px;
	padding-bottom: 10px;
  font-weight: bold;
  margin-left:190px;

}
.menuStyle{
  background-color:red;
}
#form-div{
	margin:auto;
}
#register-form{
	margin-left:400px;
}
h2{
	padding:10px;
	-webkit-text-stroke: .5px white;
	font:black;
	font-size: 35px;

	z-index: 1;
	position: relative;
}
#login-user{
	margin:10px;
	border-color: black;
	margin-left:75px;
}
#login-pword{
	margin:10px;
	border-color: black;
	margin-left:75px;
}
#login-button{
	margin:5px;
	border-color: black;
	font: black;
	margin-bottom:10px;
	margin-left:210px;
}
#reg-name, #reg-email, #reg-phone, #reg-un, #reg-pword{
	margin-left:100px;
  margin-top:-5px;
  margin-bottom:-3px;
}
#register-head{
  font-size:40px;
  font-weight:bold;
  margin-right:45px;
}
body{
	background-color: #ff4dd2;
  font-family:"work sans";
}
a{
	color:white;
	text-shadow: black;
}
#select-font{
	font-size:18px;
	color:black;
	margin-top:-8px;
	margin-bottom:-15px;
}


.btn{
	border-color: black;
	color:black;
}

.form-control{
	align-items: center;
	border-color: black;
	width:70% !important;
}
form{
	width:40%;
	align-items: center;
	z-index: 1;
	position: relative;
}
#account{
	font-size: 16px !important;
	margin-left:125px;
	z-index: 1;
	position: relative;
}
select{
	width:40%;
	margin-bottom:10px;
	
}
table{
	width:75% !important;
	position:center;
	text-align:center;
	margin:auto;
	font:black;
}
tbody{
	font:black;
}
tbody tr td{
	height:20px;
}
thead tr{
	height:50px;
	background-color: #ff4dd2;
}
tbody tr:nth-child(2n+1) td{
	background-color:#ff80df;
}	
tbody tr:nth-child(2n) td{
	background-color: #ff4dd2;
}
.btn:hover{
  outline:#f99de7 1px;
}

#table-head{
	text-align:center;
}
#song{
	text-align:center;
	width:100px;
}
#stud{
	text-align:center;
	width:125px;
}
#num{
	text-align:center;
	width:70px;
  font-weight: bold !important;
}
#danc{
	text-align:center;
	width:150px;
}
#schedule-page{
	background-color:#1a0011 !important;
}
#dancer-check, #studio-check{
	color:white !important;
	font-size: 20px;
	margin-top: 20px;
	padding:25px;
	float:left;

}
#add-dancer-form{
  width:80%;
  position: relative;
}

input[type=checkbox]{
	padding-right:5px;
	width:25px;
	height:15px;
}
input[type=checkbox]:checked{
	background-color:#ff4dd2;
	color:#ff4dd2;

}
#add{
	margin-right:285px;
  float:right;
  margin-top:20px;
  color: white !important;
  font-size: 15px;
  margin-bottom:5px;
}
#check-words{
  margin-left:160px;
}
.thead{
  font-weight:700;
}
#more-dancer-button{
    position: absolute;
    right: -80px;
    top: 50px;
    background-color: #ff4dd2;
    border-color: white;
    color: white;
}

/*ul[role="combobox"] {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 3em;
  list-style: none;
  background-color: #eee;
  display: none;
  border: 2px #333 solid;
  height: 12em;
  width: 10em;
  overflow: scroll;
}*/

.my_ra {
  width: 200px;
}
#home_ra{
    position: absolute;
    margin-bottom: 0px;
    right: 0px;
    top: 54px;
    width: 180px;

}
#signup_ra{
  border-color: black;

}
/*Autocomplete input[role=combobox]#dancer-input{
    
    width:200px !important;
    
}*/
#reg-button{
  margin: 10px 
}
input[aria-expanded="true"]{
  width:200px;

}
input[aria-autocomplete="list"]{
  width:200px;

}

button, input, select, textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: auto;
    color: black;
}
#exit-button{
	margin-left:650px;
	background-color:#ff4dd2;
	color:white;
	border-color: white;
	margin-bottom:30px;
	margin-top:30px;
}
nav{
	background-color:white;
	border-color: black;
	stroke:black;
	height:150px;

}
#nycda{
	height:180px;
	width:550px;
	padding-bottom:30px;
	margin-left:560px;
	text-align:center;
}
html, body {
    height: 100%;
    margin: 0;
}
#table-schedule{

}

.panel {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: white;
    height: 100%;
    min-width: 100%;
    text-align: center;
    display: table;
    margin: 0;
    background: #1c1c1c;
    padding: 0 0;
}

.panel .inner {
    display: table-cell;
    vertical-align: middle;
}

#imgchange > .backgroundimg {
	backface-visibility:hidden;
	background-size:cover;
	background-position: center center;
	color:transparent;
	height:100%;
	left:0px;
	opacity:0px;
	position:absolute;
	top:150px;
	width:100%;
	z-index:0;
}

#image1 {
    background: url("./../images/group5.jpg") no-repeat center;

}

#image2 {
    background: url("./../images/dancer7.jpg") no-repeat center;
}

#image3 {
    background: url("./../images/group1.jpg") no-repeat center;
}

#image4 {
    background: url("./../images/dancer6.jpg") no-repeat center;
}

#image5 {
    background: url("./../images/group2.jpg") no-repeat center;
}

#image6 {
    background: url("./../images/dancer4.jpg") no-repeat center;
}
#image7 {
    background: url("./../images/dancer5.jpg") no-repeat center;
}
#image8 {
    background: url("./../images/group3.jpg") no-repeat center;
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#imgchange div:nth-of-type(1) {
  animation-delay: 35s;
  -webkit-animation-delay: 35s;
}
#imgchange div:nth-of-type(2) {
  animation-delay: 30s;
  -webkit-animation-delay: 30s;
}
#imgchange div:nth-of-type(3) {
  animation-delay: 25s;
  -webkit-animation-delay: 25s;
}
#imgchange div:nth-of-type(4) {
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
}

#imgchange div:nth-of-type(5) {
  animation-delay: 15s;
  -webkit-animation-delay: 15s;
}
#imgchange div:nth-of-type(6) {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
}
#imgchange div:nth-of-type(7) {
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
#imgchange div:nth-of-type(8) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#imgchange div {
	animation-name: backgroundchangeFadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 40;

	-webkit-animation-name: backgroundchangeFadeInOut;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 40s;

}
/*.crossfade > figure {
	animation: imageAnimation 50s linear infinite 0s;
	backface-visibility:hidden;
	background-size:cover;
	background-position: center center;
	color:transparent;
	height:100%;
	left:0px;
	opacity:0px;
	position:absolute;
	top:150px;
	width:100%;
	z-index:0;

}
.crossfade > figure:nth-child(1) {
	animation-delay: 0s;
	background-image: url("./../images/dancer7.jpg");
}
.crossfade > figure:nth-child(2) {
	animation-delay: 5s;
	background-image: url("./../images/group1.jpg");
}
.crossfade > figure:nth-child(3) {
	animation-delay: 10s;
	background-image: url("./../images/dancer6.jpg");
}
.crossfade > figure:nth-child(4) {
	animation-delay: 15s;
	background-image: url("./../images/dancer3.jpg");
}
.crossfade > figure:nth-child(5) {
	animation-delay: 20s;
	background-image: url("./../images/group2.jpg");
}
.crossfade > figure:nth-child(6) {
	animation-delay: 25s;
	background-image: url("./../images/dancer4.jpg");
}
.crossfade > figure:nth-child(7) {
	animation-delay: 30s;
	background-image: url("./../images/group3.jpg");
}
.crossfade > figure:nth-child(8) {
	animation-delay: 35s;
	background-image: url("./../images/dancer5.jpg");
}
.crossfade > figure:nth-child(9) {
	animation-delay: 40s;
	background-image: url("./../images/group4.jpg");
}
.crossfade > figure:nth-child(10) {
	animation-delay: 45s;
	background-image: url("./../images/group5.jpg");
}
@keyframes 
imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: .8; animation-timing-function: ease-out; }
    17% { opacity: .8 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}*/




/*.fadein img {
   position: absolute;
   z-index: 0;
   -webkit-animation-name: fade;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 50s;
   animation-name: fade;
   animation-duration: 50s;
   top:150px;
   left:0px;
   height:100%;
}

@-webkit-keyframes fade {
   0% {opacity: 0;}
   20% {opacity: .8;}
   33% {opacity: 1;}
   53% {opacity: 0;}
   100% {opacity: 0;}
}

@keyframes fade {
   0% {opacity: 0;}
   20% {opacity: .8;}
   33% {opacity: 1;}
   53% {opacity: 0;}
   100% {opacity: 0;}
}
#pic1 {
   height: auto;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0%;

}
#pic2 {
   -webkit-animation-delay: -5s;
   height: auto;
   width: 100%;
   background-position: center -20px;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0%;
}

#pic3 {
   -webkit-animation-delay: -10s;
   height: auto;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0%;
}
#pic4 {
   -webkit-animation-delay: -15s;
   height: auto;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0%;
}
#pic5 {
   -webkit-animation-delay: -20s;
   height: auto;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0%;
}
#pic6 {
   -webkit-animation-delay: -25s;
   height: auto;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0%;
}
#pic7 {
   -webkit-animation-delay: -30s;
   height: auto;
   width: 100%;
   background-position: center 0px;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0%;
}
#pic8 {
   -webkit-animation-delay: -35s;
   height: auto;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0%;
}
#pic9 {
   -webkit-animation-delay: -40s;
   height: auto;
   width: 100%;
   background-position: center 0px;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0%;
}
#pic10 {
   -webkit-animation-delay: -45s;
   height: auto;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0%;
}
*/